@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Share+Tech+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #171717;
  --background-transparent: #17171752;
  --foreground: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-transform: capitalize;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.tech {
  font-family: "Share Tech Mono", monospace;
}

@keyframes clicked {
  from {
    background-color: var(--background);
  }
  to {
    background-color: var(--background-transparent);
  }
}
.clicked {
  animation: none;
}
.clicked:hover {
  animation: clicked 0.3s ease;
}

@keyframes bg {
  0% {
    background-size: 400%;
  }
  50% {
    background-size: 600%;
  }
  100% {
    background-size: 400%;
  }
}
.scaling-bg {
  animation: bg 25s linear infinite;
}

@keyframes appear {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
.appear {
  animation: appear 0.3s ease;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Afacad Flux", sans-serif;
}